.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.absoluteDiv {
    width: 100%;
    max-width: 650vw;
    height: auto;
}

@media (min-width: 768px){
    .absoluteDiv {
        width: 100%;
        max-width: 20vw;
        height: auto;
    }    
}

.handle {
    cursor: grab;
}

.img {
    width: 100%;
    height: auto;
}
