.iconColor {
    background-color: black;
}

.divStyle {
    display: flex;
    position: absolute;
    padding: 0.5em 1em;
    justify-content: center;
    align-items: center;
}

.labelStyle {
    padding: 0 0.5em;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    color: black;
}

.showing {
    opacity: 1;
}